* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

a {
  text-decoration: none !important;
}
.navbar__links {
  color:#333;
}
.navbar__links:hover {

  color: dodgerblue;
}

.footer {
  background-color: #333;
  margin-top: auto;
}